[submodule "packages/BrowserFS"]
	path = packages/BrowserFS
	url = https://github.com/sanchezcarlosjr/BrowserFS.git
[submodule "packages/browsefs-core"]
	path = packages/browsefs-core
	url = https://github.com/sanchezcarlosjr/browserfs-core.git
[submodule "packages/BlockNote"]
	path = packages/BlockNote
	url = https://github.com/sanchezcarlosjr/BlockNote.git
[submodule "packages/tiptap-math-extension"]
	path = packages/tiptap-math-extension
	url = https://github.com/sanchezcarlosjr/tiptap-math-extension.git
